/* layout common */
.hide{
    display: none !important;
}
.white{
    color: #fff;
}
.section{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/noise.png);
}
/* 배경 그리드 */
.section::before{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    left: 23vw;
    top: 0;
}
.section::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    left: 77vw;
    top: 0;
}
/* //배경 그리드 */
/*네이게이션 백그라운드 컬러*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: rgb(250, 188, 19) !important;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
/* //네이게이션 백그라운드 컬러*/
/* //layout common */

/* 주영 월드 */
.titleBar{
    position: fixed;
    top: 8vw;
    z-index: 11;
    font-size: 0;
}
.titleBar::before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 45px;
    background-color: #000;
}
.titleBar a{
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-weight: 900;
    line-height: 1.3;
    font-size: 15px;
    padding-left: 5vw;
    /* font-family: 'Pacifico';
    line-height: 1.4; */
}
/* //주영 월드 */

/* top 버튼 */
.top-btn{
    position: fixed;
    width: 60px;
    height: 60px;
    right: 4vw;
    bottom: 4vw;
    z-index: 11;
}
.top-btn a{
    position: relative;/*.top-btn span 기준점*/
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/top.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: topbtn;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes topbtn{
    100%{ transform: rotate(360deg); }
}
.top-btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    font-weight: 300;
    font-size: 14px;
}
/* //top 버튼 */

/* WHO SKILL PROJECT CALL 텍스트 */
.type{
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    letter-spacing: -1px;
    line-height: 1.2;
}
/* //WHO SKILL PROJECT CALL 텍스트 */

/* section main */
.main{
    position: relative; /*main p 기준점*/
}
.main p{
    position: absolute;
    font-size: 1vw;
    line-height: 1.3;
    z-index: 11;
}
.year{
    top: 50vh;
    left: 5.5vw;
}
.year::before{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #222;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.tag01{
    right: 12vw;
    top: 10vh;
}
.tag02{
    bottom: 22vh;
    left: 80vw;;
}
.circle_wrap{
    display: flex;
    /* display: -webkit-box;  */
    display: -ms-flexbox;
    justify-content: center;
    /* -webkit-box-pack: center; 
    -ms-flex-pack: center; */
    align-items: center;
    /* -webkit-box-align: center; 
    -ms-flex-align: center; */
    width: 100vw;
    height: 100vh;
}
.circle{
    position: absolute; 
    width: 49vw;
    height: 49vw; /*height: 100vh;*/
    background-image: url(../img/circle.png), url(../img/imog.png);
    background-size: 100%, 70%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}
.circle_txt{
    position: relative;/*.circle_txt span기준점*/
    width: 49vw; 
    height: 49vw; /*height: 12em;*/
    animation-name: circle;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 4.1vw;
}
@keyframes circle{
    100%{
        transform: rotate(360deg);
    }
}
.circle_txt span{
    position: absolute;
    font-family: 'Montserratcall';
    font-weight: 400;
    color: #fff;
    font-size:2em;
    transform-origin: center;
}
.circle_txt .t1{
    transform: rotate(5.73rad);
    top: 0.54em; /*84px*/
    left: 1.29em; /*196px*/
}
.circle_txt .t2{
    top: 0.215em; /*33px*/
    left: 2.675em; /*408px*/
}
.circle_txt .t3{
    transform: rotate(6.75rad);
    top: 0.45em; /*72px*/
    left: 3.61em; /*555px*/
}
.circle_txt .t4{
    font-size: 3em;
    top: 0.36em; /*69px*/
    left: 3.04em; /*153px*/
}    
.circle_txt .t5{
    transform: rotate(13.8rad);
    right: 0.54em; /*83px*/
    top: 1.74em; /*267px*/
}
.circle_txt .t6{
    transform: rotate(14.27rad);
    right: 0.425em; /*65px*/
    top: 2.735em; /*420px*/
}
.circle_txt .t7{
    transform: rotate(14.78rad);
    right: 0.85em; /*131px*/
    top: 3.75em; /*576px*/
}
.circle_txt .t8{
    transform: rotate(15.22rad);
    right: 1.68em; /*256px*/
    bottom: 0.338em;
    /* top: 4.42em;  */
}
.circle_txt .t9{
    transform: rotate(12.46rad);
    /* bottom: 37px; */
    top: 4.65em;
    right: 2.6em; /*397px*/
}
.circle_txt .t10{
    transform: rotate(12.8rad);
    /* bottom: 50px; */
    top: 4.57em;
    left: 2.04em; /*310px*/
}
.circle_txt .t11{
    transform: rotate(13.36rad);
    /* bottom: 139px; */
    left: 1.029em; /*154px*/
    top: 4em;
}
.circle_txt .t12{
    transform: rotate(4.43rad);
    /* bottom: 281px; */
    top: 3.07em;
    left: 0.55em; /*83px*/
}
.circle_txt .t13{
    transform: rotate(4.9rad);
    top: 2.04em; /*312px*/
    left: 0.48em; /*71px*/
}
.circle_txt .t14{
    font-size: 3em;
    top: 0.53em; /*115px*/
    left: 0.64em; /*146px*/
}
/* //section main */

/* section who */
.who_wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/object.png);
    background-repeat: no-repeat;
    background-size: 52% auto;
    background-position: center center;
}
.about::before{
    content: '';
    display: block;
    width: 3vw;
    height: 3vw;
    margin: 0 auto;
    background-image: url(../img/about.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.about{
    position: relative; /*mark01 기준점*/
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.2;
    z-index: 11;
}
.mark01{
    position: absolute;
    bottom: -20%;
    right: 20%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
}
.mark01::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 19px;
    background-image: url(../img/unnamed02.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1vw;
}
/* //section who */

/* section skill */
.skill01 h2{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    font-family: 'Eina03-SemiBold';
    font-size: 5vw;
    text-align: center;
    letter-spacing: -1px;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
    /* animation: skill01 1s alternate-reverse infinite; */
}
@keyframes skill01{
    0% {transform: translateX(-50%) translateY(-1px); opacity: 0.7;}
	100% {transform: translateX(-49%) translateY(0); opacity: 1;}
}
.skill01 .text01{
    display: block;
    text-align: center;
    background-color: white;
}
.skill02{
    text-align: center;
    background-color: white;
}
/* //section skill */

/* section project */
.swiper-container {
    width: 95vw;
    height: 90vh;
    background-color: #fff;
    background-image: url(../img/noise.png);
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-prev{
    width: 20px !important;
    height: 25px !important;
    background-size: 20px 25px !important;
    /* bottom: 20% !important;
    left: 58vw !important; */
    margin-top: 0 !important;
}
.swiper-button-next{
    width: 20px !important;
    height: 25px !important;
    background-size: 20px 25px !important;
    /* bottom: 20% !important;
    right: 33vw !important; */
    margin-top: 0 !important;
}
.swiper_wrap{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.swiper_wrap .img{
    overflow: hidden;
    width: 35vw;
    height: 35vw;
    cursor: pointer;
}
.swiper_wrap .img a{
    display: block;
    width: 100%;
    height: 100%;
}
.swiper_wrap .img img{
    width: 100%;
    -webkit-transition: -webkit-transform ease .5s;
    transition: -webkit-transform ease .5s;
    transition: transform ease .5s;
}
.swiper_wrap .img:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.swiper_txt{
    position: relative;
    padding-left: 8vw;
    box-sizing: border-box;
    z-index: 11;
    /* position: absolute;
    bottom: 20%;
    left: 50vw; */
    /* transform: translateX(-50%);
    z-index: 11; */
}
.swiper_txt span{
    display: block;
    text-align: left;
}
.swiper_txt .ptype{
    font-weight: 900;
    margin-bottom: 15px;
}
.swiper_txt .subtit{
    font-size: 56px;
}
.swiper_txt .tit{
    position: relative; /*.tit::after 기준점*/
    font-size: 56px;
}
.tit::after{
    position: absolute;
    z-index: 12;
    bottom: 0;
    display: inline-block;
    content: '';
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
.swiper_txt:hover .tit::after{
    width: 62%;
    transition:width 0.5s; 
    -webkit-transition:width 0.5s; 
    -ms-transition:width 0.5s;
}
.swiper_txt .tit > .border{
    display: block;
    width: auto;
    color: #000;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.swiper_txt .subtxt{
    margin-top: 15px;
    opacity: 0.8;
    line-height: 1.8;
}
/* //section project */

/* section call */
.call_wrap{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    z-index: 12;
    padding: 0 10vw;
}
.call_wrap p{
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-family: 'Montserratcall', sans-serif;
    font-weight: bold;
    font-size: 8.35vw;
    color: #fff;
    /* background-color: silver; */
}
.call_wrap p:first-child{
    font-size: 8.65vw;
}
.call_wrap .hover{
    font-family: 'Montserratcall', sans-serif;
    cursor: pointer;
    background: transparent;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}
.call_wrap .hover:hover{
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-color: transparent;
    color: #000;
}
.bytag::before{
    content: '❤️';
    display: inline-table;
    width: 20px;
    height: 20px;
    vertical-align: baseline;
    margin-right: 0.8vw;
    animation: heartbeat 2s infinite;
    -webkit-animation: heartbeat 2s infinite;
}
/*❣️❤️🧡💛💚💜💙🖤💖 🧡💛💚💙💜🖤🤍🤎*/
.bytag{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
@keyframes heartbeat {
    0% {
        transform: scale(.9)
    }
    20% {
        transform: scale(1.2)
    }
    40% {
        transform: scale(.9)
    }
    60% {
        transform: scale(1.2)
    }
    80% {
        transform: scale(.9)
    }
    100% {
        transform: scale(.9)
    }
}
/* //section call */

/*mobile css*/
@media all and (max-width:480px){
/*가로값이 480px이하 일 때 스타일 적용*/
    /* #fp-nav{
        display: none !important;
    } */
    .titleBar{
        top: 25vw
    }
    .titleBar::before{
        height: 33px;
    }
    .titleBar a{
        font-size: 13px;
        font-weight: 900;
    }
    .top-btn{
        width: 50px;
        height: 50px;
        font-size: 14px;
        right: 6vw;
        bottom: 6vw;
    }
    .type{
        top: 2vw;
        font-size: 20px;
    }
    /*section main*/
    /* .circle{
        width: 55vw;
    }
    .circle_txt{
        width: 65vw;
        font-size: 5.5vw;
    } */
    .main p{
        font-size: 3.5vw;
    }
    .year::before{
        width: 4px;
        height: 4px;
    }
    .tag02{
        left: 50%;
        transform: translateX(-50%);
    }
    /*//section main*/

    /*section who*/
    .who_wrap{
        background-size: 78% auto;
    }
    .about{
        font-size: 5.8vw;
        line-height: 1.2;
    }
    .about::before{
        width: 5vw;
        height: 4vw;
    }
    .mark01{
        font-size: 12px;
        bottom: -6vh;
        right: 10vw;
    }
    .mark01::before{
        width: 40px;
        height: 12px;
        background-size: cover;
    }
    /*//section who*/
    /* .swiper-button-prev{
        width: 35px !important;
        height: 35px !important;
        background-image: url(img/prev_arrow.png) !important;
        background-size: 35px 35px !important;
        left: -8px !important;
        top: 80vw !important;
        margin-top: 0 !important;
    }
    .swiper-button-next{
        width: 35px !important;
        height: 35px !important;
        background-image: url(img/next_arrow.png) !important;
        background-size: 35px 35px !important;
        right: -8px !important;
        top: 80vw !important;
        margin-top: 0 !important;
    }
    .swiper-container{
        width: 82vw;
        height: 60vh;
    }
    .swiper-slide{
        display: flex;
        flex-direction: column;
    }
    .swiper-slide .img{
        width: 100%;
        height: 55%;
    }
    .swiper-slide .img img{
        width: 100%;
        height: 100%;
    }
    .swiper-slide .swiper_txt{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 45%;
        padding: 5px 35px 5px 35px;
        box-sizing: border-box;
        text-align: inherit;
        overflow: hidden;
    }
    .swiper-slide .swiper_txt span{
        display: block;
    }
    .ptype{
        font-size: 18px;
        font-weight: 700;
    }
    .tit{
        font-size: 9vw;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.5px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
    }
    .tit:hover{
        -webkit-text-fill-color: #000;
    }
    .subtxt{
        font-size: 14px;
    } */

    .call_wrap{
        padding: 0 5vw;
    }
    .call_wrap p{
        font-size: 9.35vw !important;
    }
    .call_wrap p:first-child{
        font-size: 9.5vw !important;
    }
    /* .call_wrap p:first-child{
        font-size: 11.85vw;
        letter-spacing: -3px;
    } */
    .call_wrap .hover{
        -webkit-text-stroke-width:1.5px;
    }
    .bytag{
        font-size: 14px;
    }

}

@media all and (max-width: 979px) {
    .who_wrap{
        background-size: 70% auto;
    }
    .about{
        font-size: 4.5vw;
        line-height: 1.3;
    }
    .about::before{
        width: 4vw;
        height: 3vw;
    }
    .mark01{
        font-size: 15px;
        bottom: -30%;
        right: 12%;
    }
    .mark01::before{
        width: 60px;
        height: 18px;
        background-size: cover;
    }
}

/* .swiper-slide .img img{
    opacity: 0;
    transition-property: opacity;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
.swiper-slide .img.active img {
    opacity: 1
} */

/* .skill02{
    position: absolute;
    top: 20%;
    width: 63vw;
    height: 50vw;
    right: 13%;
    animation: skill02 5s linear infinite;
}
.skill02 span{
    font-family: 'Montserratcall';
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff
}
.sk01{
    font-size: 4.8vw;
    left: 28%;
    top: -5%;
}
.sk02{
    opacity: 0.8;
    font-size: 6.8vw;
    top: 10%;
    left: 2%;
}
.sk03{
    top: 5%;
    left: 25%;
    font-size: 4.5vw;
    animation: sk03 2s linear infinite;
} */
/* @keyframes sk03{
    0%{transform: rotate(5deg) translateY(-7px)translateX(0);}
    50%{transform: rotate(3deg) translateY(7px)translateX(5px);}
    100%{transform: rotate(5deg) translateY(-7px)translateX(0);}
} */
/* .sk04{
    opacity: 0.8;
    top: 1%;
    left: 51%;
    font-size: 7.5vw;
    animation: sk04 2s linear infinite;
} */
/* @keyframes sk04{
    0% {left: 51%;transform: rotate(-3deg);}
    50% {left: 52%;transform: rotate(0deg);}
    100%{left: 51%;transform: rotate(-3deg);}
} */
/* .sk05{
    opacity: 0.7;
    font-size: 7.7vw;
    top: 20%;
    left: -10%;
    animation: sk05 1s alternate-reverse infinite;
} */
/* @keyframes sk05{
    0% {transform: translateX(3px) translateY(-3px);}
	100% {transform: translateX(0px) translateY(0);}
} */
/* .sk06{
    font-size: 3.7vw;
    right: 35%;
    top: 16%;
}
.sk07{
    font-size: 1.9vw;
    right: 13%;
    top: 25%;
    animation: sk07 1.5s linear infinite;
} */
/* @keyframes sk07{
    0% {transform: translateY(0px);}
    50%{transform: translateY(-10px);}
	100% {transform: translateY(0);}
} */
/* .sk08{
    top: 42%;
    left: -7%;
    font-size: 2.2vw;
    animation: sk08 2s linear infinite;
} */
/* @keyframes sk08{
    0%{transform: rotate(0deg)translateY(0px)translateX(-10px);}
    50%{transform: rotate(0deg)translateY(-5px)translateX(-5px);}
    100%{transform: rotate(0deg)translateY(0px)translateX(-10px);}
} */
/* .sk10{
    font-size: 5.3vw;
    top: 34%;
    left: 12%;
    animation: sk10 3s linear infinite;
} */
/* @keyframes sk10{
    0%{transform: rotate(-3deg)translateY(0px)translateX(-5px);}
    50%{transform: rotate(3deg)translateY(10px)translateX(10px);}
    100%{transform: rotate(-3deg)translateY(0px)translateX(-5px);}
} */
/* .sk11{
    opacity: 0.8;
    font-size: 2.4vw;
    right: 15%;
    top: 38%;
    animation: sk11 4s linear infinite;
} */
/* @keyframes sk11{
    0%{right: 15%;}
    50%{right: 13%;}
    100%{right: 15%;}
} */
/* .sk12{
    opacity: 0.5;
    bottom: 25%;
    font-size: 3.4vw;
    left: -2%;
    animation: sk12 3s linear infinite;
} */
/* @keyframes sk12{
    0%{transform: rotate(3deg)translateY(0px)translateX(-3px);}
    50%{transform: rotate(-3deg)translateY(5px)translateX(5px);}
    100%{transform: rotate(3deg)translateY(0px)translateX(-3px);}
} */
/* .sk13{
    font-size: 4.95vw;
    bottom: 17.5%;
    right: 17%;
    animation: sk13 3s linear infinite;
} */
/* @keyframes sk13{
    0%{transform: translateY(0px)translateX(-5px);}
    50%{transform: translateY(0px)translateX(5px);}
    100%{transform: translateY(0px)translateX(-5px);} */
}
/* .sk14{
    bottom: 15%;
    left: 3%;
    font-size: 2.1vw;
}
.sk15{
    opacity: 0.9;
    font-size: 3.5vw;
    bottom: 6%;
    left: 12%;
}
.sk16{
    opacity: 0.6;
    font-size: 1.8vw;
    right: 3%;
    bottom: 12%;
    animation: sk16 1.5s linear infinite;
} */
/* @keyframes sk16{
    0%{transform: rotate(0deg)translateY(-2px)translateX(3px);}
    50%{transform: rotate(0deg)translateY(0px)translateX(0px);}
    100%{transform: rotate(0deg)translateY(-2px)translateX(3px);}
} */
/* .sk17{
    opacity: 0.8;
    font-size: 4vw;
    bottom: -5%;
    right: 13%;
    animation: sk17 2s linear infinite;
} */
/* @keyframes sk17{
    0% {right: 13%;transform: rotate(3deg);}
    50% {right: 12%;transform: rotate(0deg);}
    100%{right: 13%;transform: rotate(3deg);}
} */
/* .sk18{
    font-size: 1.8vw;
    bottom: -4%;
    left: 7%;
    animation: sk18 2s linear infinite;
} */
/* @keyframes sk18{
    0%{left: 5%;}
    50%{left: 7%;}
    100%{left: 5%;} */
}
/* .sk19{
    font-size: 2vw;
    bottom: -13%;
    left: 36%;
} */