/* reset */
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; word-break: keep-all }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input,select,option { margin: 0; padding: 0; border: 0; font-size: 100%; font-family: 'Montserrat','NotoKr', sans-serif; text-decoration: none; color: #000;}

/* //mark: fonts */
@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 100;
	src: url('font/notokr-light.eot');
	src: url('font/notokr-light.eot?#iefix') format('embedded-opentype'),
		url('font/notokr-light.woff2') format('woff2'),
		url('font/notokr-light.woff') format('woff');
}

@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 300;
	src: url('font/notokr-regular.eot');
	src: url('font/notokr-regular.eot?#iefix') format('embedded-opentype'),
		url('font/notokr-regular.woff2') format('woff2'),
		url('font/notokr-regular.woff') format('woff');
}

@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 500;
	src: url('font/notokr-medium.eot');
	src: url('font/notokr-medium.eot?#iefix') format('embedded-opentype'),
		url('font/notokr-medium.woff2') format('woff2'),
		url('font/notokr-medium.woff') format('woff');
}

@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 700;
	src: url('font/notokr-bold.eot');
	src: url('font/notokr-bold.eot?#iefix') format('embedded-opentype'),
		url('font/notokr-bold.woff2') format('woff2'),
		url('font/notokr-bold.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
	src: url('font/Montserrat-Regular.eot');
	src: url('font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		 url('font/Montserrat-Regular.woff') format('woff'),
		 url('font/Montserrat-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }
  
  /* call text */
  @font-face {
	font-family: 'Montserratcall';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  }
  @font-face {
	font-family: 'Montserratcall';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
  }
  
  
  /* @font-face {
	font-family: 'Rubik';
	font-weight: normal;
	font-style: normal;
	src: url('font/Rubik-Regular.eot');
	src: url('font/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
		url('font/Rubik-Regular.woff') format('woff'),
		url('font/Rubik-Regular.woff2') format('woff2');
		unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  } */





/*네이게이션 백그라운드 컬러*/
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background-color: #fff;
/*    background: url(../9211d87a-4db3-48c7-8881-db33bf245145.png);*/
    background-size: 12px 12px;
}
/* //네이게이션 백그라운드 컬러*/
