.hide{
    display: none !important;
}
/* layout common */
.section{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(img/noise.png);
}
/* background grid */
.section::before{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    left: 22vw;
    top: 0;
}
.section::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    left: 78vw;
    top: 0;
}
/* //background grid */
/* //layout common */

/* title bar */
.titleBar{
    position: fixed;
    top: 18%;
    z-index: 9;
    font-size: 0;
}
.titleBar::before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 40px;
    background-color: #000;
}
.titleBar a{
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    padding-left: 7vw;
}
/* //title bar */
/* top btn */
.top-btn{
    position: fixed;
    width: 60px;
    height: 60px;
    right: 4vw;
    bottom: 4vw;
    z-index: 9;
}
.top-btn a{
    position: relative;/*top-btn span 기준점*/
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(img/topbtn02.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: topbtn;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes topbtn{
    100%{
        transform: rotate(360deg);
    }
}
.top-btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    font-weight: 300;
    font-size: 14px;
    color: #000;
}
/* //top btn */
/* WHO SKILL PROJECT CALL 텍스트 */
.type{
    position: absolute;
    top: 1vw;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.type.white{
    color: #fff;
}
/* //WHO SKILL PROJECT CALL 텍스트 */

/* section main */
.main{
    position: relative;/**/
}
.circle{
    position: relative;
    z-index: 9;
    margin: 0 auto;
    width: 49vw;
    height: 100vh;
    background-image: url(img/circle.png), url(img/imog.png);
    background-size: 100%, 70%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}
.main p{
    position: absolute;
    font-size: 1vw;
    line-height: 1.3;
    z-index: 9;
}
.year::before{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #222;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.year{
    top: 50vh;
    left: 7vw;
}
.tag01{
    right: 12vw;
    top: 10vh;
}
.tag02{
    bottom: 22vh;
    left: 80vw;;
}
/* //section main */

/* section who */
.who_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(img/object.png);
    background-repeat: no-repeat;
    background-size: 52% auto;
    background-position: center center;
}
.about::before{
    content: '';
    display: block;
    width: 3vw;
    height: 3vw;
    margin: 0 auto;
    background-image: url(img/about.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.about{
    position: relative;/*mark01 기준점*/
    text-align: center;
    font-size: 4vw;/*80px*/
    font-weight: 700;
    line-height: 1.2;
    z-index: 9;
}
.mark01{
    position: absolute;
    bottom: -20%;
    right: 20%;
    font-size: 18px;
    font-weight: 500;
}
.mark01::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 20px;
    background-image: url(img/unnamed02.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1vw;
}
@media all and (max-width: 979px) {
    .who_wrap{
        background-size: 70% auto;
    }
    .about{
        font-size: 4.5vw;
        line-height: 1.3;
    }
    .about::before{
        width: 4vw;
        height: 3vw;
    }
    .mark01{
        font-size: 15px;
        bottom: -30%;
        right: 12%;
    }
    .mark01::before{
        width: 60px;
        height: 18px;
        background-size: cover;
    }
}
/* //section who */

/* section skill */
/* //section skill */

/* section project */
.swiper-container {
    width: 75vw;
    height: 70vh;
    background-color: rgba(255,255,255,0.4);
}
.swiper-button-prev{
    background-image: url(img/prev_arrow.png) !important;
    background-size: cover !important;
    width: 40px !important;
    height: 44px !important;
}
.swiper-button-next{
    background-image: url(img/next_arrow.png) !important;
    background-size: cover !important;
    width: 40px !important;
    height: 44px !important;
}
/* //section project */

/* section call */
.call_wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
/* .call_wrap{
    position: relative;
    z-index: 9;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    background-color: tomato;
}
.call_wrap p{
    display: flex;
    justify-content: start;
    font-family: 'Montserratcall', sans-serif;
    font-weight: bold;
    font-size: 8vw;
    color: #fff;
    letter-spacing: -2px;
} */
.call_wrap p{
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-family: 'Montserratcall', sans-serif;
    font-weight: bold;
    font-size: 7.5vw;
    color: #fff;
    letter-spacing: -2px;
}
.call_wrap p:first-child{
    font-size: 8.85vw;
}
.call_wrap .hover{
    font-family: 'Montserratcall', sans-serif;
    cursor: pointer;
    background: transparent;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}
.call_wrap .hover:hover{
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-color: transparent;
    color: #000;
}
.bytag::before{
    content: '💛';
    display: inline-table;
    width: 20px;
    height: 20px;
    vertical-align: baseline;
    margin-right: 0.8vw;
    /* background-image: url(img/9211d87a-4db3-48c7-8881-db33bf245145.png);
    background-repeat: no-repeat;
    background-size: contain; */
    -webkit-animation: heartbeat 2s infinite;
    animation: heartbeat 2s infinite
}/*❣️❤️🧡💛💚💜💙🖤💖 🧡💛💚💙💜🖤🤍🤎*/
.bytag{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
@keyframes heartbeat {
    0% {
        transform: scale(.9)
    }
    20% {
        transform: scale(1.2)
    }
    40% {
        transform: scale(.9)
    }
    60% {
        transform: scale(1.2)
    }
    80% {
        transform: scale(.9)
    }
    100% {
        transform: scale(.9)
    }
}
@media all and (max-width: 979px) {
    .bytag{
        font-size: 16px;
    }    
}
@media all and (max-width: 639px) {
    .bytag{
        font-size: 14px;
    }
    
    .call_wrap p{
        font-size: 9.5vw;
        letter-spacing: 0;
    }
    .call_wrap p:first-child{
        font-size: 11.85vw;/*170px*/
        letter-spacing: -3px;
    }
    .call_wrap .hover{
        -webkit-text-stroke-width:1.5px;
    }
}
/* //section call */

/*mobile css*/

@media all and (max-width:480px){
/*가로값이 480px이하 일 때 스타일 적용*/
    #fp-nav{
        display: none !important;
    }
    .titleBar{
        top: 14%;
    }
    .titleBar::before{
        height: 33px;
    }
    .titleBar a{
        font-size: 13px;
        font-weight: 900;
    }
    .top-btn{
        width: 50px;
        height: 50px;
        font-size: 14px;
        right: 6vw;
        bottom: 6vw;
    }
    .type{
        top: 2vw;
       font-size: 20px;
    }
    /*section main*/
    .circle{
        width: 65vw;
    }
    .main p{
        font-size: 3vw;
    }
    .year{
        font-size: 1vw !important;
    }
    .year::before{
        width: 4px;
        height: 4px;
    }
    .tag02{
        left: 50%;
        bottom: 10vh;
        transform: translateX(-50%);
    }
    /*//section main*/

    /*section who*/
    .who_wrap{
        background-size: 78% auto;
    }
    .about{
        font-size: 5.8vw;
        line-height: 1.2;
    }
    .about::before{
        width: 5vw;
        height: 4vw;
    }
    .mark01{
        font-size: 12px;
        bottom: -6vh;
        right: 10vw;
    }
    .mark01::before{
        width: 40px;
        height: 12px;
        background-size: cover;
    }
    /*//section who*/
    .swiper-button-prev{
        width: 35px !important;
        height: 35px !important;
        background-image: url(img/prev_arrow.png) !important;
        background-size: 35px 35px !important;
    }
    .swiper-button-next{
        width: 35px !important;
        height: 35px !important;
        background-image: url(img/next_arrow.png) !important;
        background-size: 35px 35px !important;
    }
    .swiper-container{
        width: 82vw;
        height: 70vh;
    }
    /* .swiper-slide{
        display: flex;
        flex-direction: column;
    } */
    .swiper-slide div{
        width: 100%;
        height: 100%;
    }
    .img img{
        width: 100%;
        height: 100%;
    }
    .swiper_txt{
        padding: 10px;
        box-sizing: border-box;
    }







}